@media screen and (max-width: 1200px) {
	

	.navbar-brand
	{
		color: #fff!important;
		padding-right: 90px!important;
	}
	
	.my-cont {
	    position: absolute;
	    top: 44px;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}
	#headerwrap h1
	{
		font-size: 30px;
	}
}

@media screen and (max-width: 768px) {
	

	
	
	.my-cont {
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}
	#headerwrap h1
	{
		font-size: 30px;
	}

	#myBtn{
		margin-left: 48px;
	}


	.text1
	{
		color: #fff;
		padding: 25px;
		padding-top: 70px;

	}

	.text2
	{
		color: #fff;
		padding: 25px;
		background-color: #b02727;
		padding-top: 70px;
		padding-bottom: 109px;
	}
	
}

@media screen and (max-width: 660px) {
	

	
	
	.my-cont {
	    position: absolute;
	    top: -40px;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}
	#headerwrap h1
	{
		font-size: 19px;
	}
	
}