header
{
	background: #0a1c58;
	padding-top: 30px!important;
	padding-bottom: 30px!important;
	

}

.back
{
	background: unset!important;
	background-image: unset!important;
	background-color: unset!important;
	z-index: 10;
}
.navbar-brand
{
	color: #fff!important;
	padding-right: 109px;
}

.fs
{
	font-size: 14px;
	float: right!important;
}

.nav-link
{
	padding: 6px 12px;
	color: #fff;

}

#headerwrap
{
	
	
	position:relative;
	width: 100%;
	max-height: 550px;
	overflow: hidden;

}

#myVideo {
   
    width: 100%; 
    
}

#headerwrap h6
{
	
	
	color:#fff;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: left;
	padding-bottom: 20px;
	z-index: 10;

}

.my-cont
{
	position:absolute;
	top: 52px;
	right:0;
	bottom:0;
	left: 0;

}
#headerwrap h1
{
	
	color:#fff;
	font-size: 36px;
	text-align: left;
	font-weight: bold;
	letter-spacing: 2px;
	padding-bottom: 20px;

}

#headerwrap p
{
	
	color:#fff;
	font-size: 13px;
	text-align: left;
	letter-spacing: 2px;
	padding-bottom: 20px;
}

.margin
{
	padding-top:  100px!important;

}
.my-butt
{
	float: left;
	border-radius: unset;
}

#myBtn {
   
    font-size: 70px;
    border: none;
    color: #fff !important;
    cursor: pointer;
 	margin-left: 150px;
    background: transparent;
    border-radius: 50%;
 	
    color: #f1f1f1;
    width: 200px;
    height: 200px;
    border: 2px solid #969696
}

#myBtn  i{
	color: #fff!important;
}


#myBtn:hover {
    background: #ddd;
    color: black;
}


button:focus
{
	outline: none;
}




.one
{
	min-height: 300px;
	background-color:#fff; 
	color: #0e0e0e;
	text-align: center;
}

.p
{
	font-size: 22px!important;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
	padding-bottom: 20px;
	padding-top: 100px;
}

.bac
{
	padding-top: 50px;
	padding-bottom: 80px;
}

.icom
{
	color: #b02727;
	font-size: 70px;
	padding-bottom:20px;
}

.h-text
{
	color: #000;
	font-weight: bold;
	padding-bottom: 20px;
}
.p-text
{
	color: #4f4f4f;
	font-size: 15px;
}
.two
{
	max-height: 400px;
}

.no_pad
{
	padding-left: 0px;
	
	margin-right: 0px;
	margin-left: 0px;
	background-color: #0a1c58;
}

.mission
{
	
}
.text
{
	padding :40px;
}
.text-h1 h1
{
	font-size: 35px;
	font-weight: bold;
	color: #fff!important;
	padding-bottom: 20px;


}

.text-p
{
	font-size: 15px;
	padding-bottom:20px;
	color: #fff;
	line-height: 20px;
	
}

.img
{	 background-image: url("../images/3.jpg");
    background-repeat: no-repeat;
    width: 100%;
   
    height: auto;
}

.img img
{
	
	
}

.img1 img
{
	
	width: 100px;
   
    height: auto;
}

.tree
{
	background-color:  #0f2673;
	min-height:245px;
}
.text1
{
	color: #fff;
	padding: 50px;
	padding-top: 70px;

}

.text-h2
{
	padding-bottom :20px;
	font-weight: bold;
}

.text-p1
{
	font-size: 13px;
	line-height: 20px;
}

.text2
{
	color: #fff;
	padding: 50px;
	background-color: #b02727;
	padding-top: 70px;
	padding-bottom: 79px;
}

.no-pad
{
	padding-right: 0px;
	padding-left: 0px;
}
#four
{
	  background-image: url("../images/5.jpg");
	  background-repeat: no-repeat;
	  min-height: 500px;
	   background-size: cover;
	   background-position: center;
	   padding-top: 100px;
}

.text-h3
{
	font-weight: bold;
	font-size: 36px;
	text-align: center;
}
.text-p3
{
	line-height: 20px;
	font-size: 18px;
	text-align: center;
}


.block
{
    padding-top:50px;
    padding-bottom: 30px;
}
.block_icon
{
    
   
    color: #b02727;
    width: 20%;
    float:left;
    font-size: 25px;
    text-align: center;
    padding-top: 13px;
    display: inline-block;
   
}


.e   {
   position: relative;
  z-index: 2;
  cursor: pointer;
  transition: 2s linear;
}
.e:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}


.r {
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: 0.4s linear;
}
.r:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}


@-webkit-keyframes q {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
 
@keyframes q {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
 
.q:hover {
  -webkit-animation: q 0.6s ease;
  animation: q 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}






.w:hover {
    -webkit-animation: toTopFromBottom 0.5s forwards;
    -moz-animation: toTopFromBottom 0.5s forwards;
    animation: toTopFromBottom 0.5s forwards;
    cursor: pointer;
}

@-webkit-keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toTopFromBottom {
    49% {
        -moz-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toTopFromBottom {
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}


.block_text h6
{
    color: #0a1c58;
    font-size: 25px;
    padding-bottom: 10px;
    font-weight: bold;
    padding-top: 5px;
}

.block_text1 p
{
    color: #000;
     font-size: 13px;
     padding-top: 15px;
}

 .main-bg {
  background-color: #0a1c58;
  color: #fff
}
.btn-danger
{
	border-radius: unset;
}


.five
{
	padding-top: 45px;
	padding-bottom: 50px;
}


.block11
{
    
    padding-bottom: 3px;
}

.text-5
{
	padding-top: 60px;
}

.text-h5
{
	font-size: 47px;
	font-weight: bold;
}


.text-main-p
{
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 20px;
}

.block-img 
{
	position: relative;
	padding-bottom: 22px;

}

.inner-block-img
{
	background-color: #14245a;
	position:absolute;
	top: 205px;
	padding-top: 10px;
	opacity: 0.8;
	transition: all 1s ease-out;


}

.inner-block-img1
{
	background-color: #aa2e2e;
	position:absolute;
	top: 205px;
	padding-top: 10px;
	opacity: 0.8;
	transition: all 1s ease-out;


}

.inner-block-img:hover
{
	background-color: #14245a;
	position:absolute;
	top: 0;
	padding-top: 55px;
	padding-bottom: 50px;


}

.inner-block-img1:hover
{
	background-color: #aa2e2e;
	position:absolute;
	top: 0;
	padding-top: 55px;
	padding-bottom: 50px;


}

.pad
{
	padding-top: 80px;
}

.ic i
{
	color: #fff;
}

.block_text1 h3
{
	color: #fff;
	padding-top: 17px;
	
}
.block_icon1
{
    
   
    color: #fff;
    width: 20%;
    float:left;
    font-size: 25px;
    text-align: center;
    padding-top: 13px;
    display: inline-block;
   
}
.text-hiden
{
	color: #fff;
	font-size: 13px;
	padding:25px;
}




.six
{
	background-color: #f6f6f6;
}

.back-p
{
	background-color: unset;
	padding: 50px;
}

.seven
{
	background-image: url("../images/build.jpg");
	background-repeat: no-repeat;
	  min-height: 328px;
	   background-size: cover;
	   background-position: center;
	
	  
}

.back-color
{
	 background-color: #283747;
	 position: relative;
	padding-top: 60px;
	padding-bottom: 36px;
	
	
	 opacity: 0.8;
}

.block1
{
    padding-top:50px;
    padding-bottom: 30px;
    opacity: 1;
}
.block_icon1
{
    
   
    color: #b02727;
    width: 20%;
    float:left;
    font-size: 25px;
    text-align: center;
    padding-top: 13px;
    display: inline-block;
   
}



.block_text3 h6
{
    color: #fff;
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: bold;
    padding-top: 5px;
}

.block_text3 p
{
    color: #fff;
     font-size: 13px;
     padding-top: 15px;
     line-height: 16px;
}
.back-p1
{
	background-color: unset;
}

.text8
{
	padding-top: 70px;
	padding-bottom: 60px;
}

.text8 h3
{
	text-align: center;
	font-size: 28px;
	color: #000;
	font-weight: bold;
	padding-bottom: 20px;


}


.text8 p
{
	text-align: center;
	font-size: 14px;
	line-height: 23px;
	
	
	
}

.eaght
{
	padding-bottom: 100px;
}

.block8
{
	
	border:1px solid #cccccc;
-webkit-box-shadow: -1px 1px 13px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 1px 13px -2px rgba(0,0,0,0.75);
box-shadow: -1px 1px 13px -2px rgba(0,0,0,0.75);
}

.block-header
{
	background-color: #e3e3e3;
	text-align: center;
	font-weight: bold;
	color: #666666;
	font-size: 19px;
	padding: 20px;
}

.block8:hover
{
	padding-bottom:20px;
	

}

.block8:hover .block-header
{
	padding:40px;
	background-color:#0a1c58;
	color: #fff;
}

.block-body
{
	background-color: #fff;
	text-align: center;
	font-weight: bold;
	color: #666666;
	font-size: 14px;
	padding-top: 40px;
	padding-left: 78px;
	padding-right: 78px;
	padding-bottom: 25px;
	line-height: 30px;

}


.block-price h2
{
	font-size:32px;
	padding-bottom: 8px;

}
.block-price p
{
	font-size:13px;
	padding-bottom: 18px;
}
.block-text
{
	padding-bottom: 30px;
}

.block-button button
{
	padding: 12px 33px;
}

.nine
{
	background-color: #0a1c58;
	padding-top: 70px;
	padding-bottom: 50px;
}
.text9 h1
{
	font-size:34px;
	font-weight: bold;
	color: #fff;
	padding-bottom: 20px;

}
.text9 p
{
	font-size:12px;
	line-height: 20px;
	color: #fff;
	

}

.dropdown select
{
	width: 100%!important;
	color: #fff;
	padding:8px;
	border-radius: unset;
	background-color: #304074;
}

.form-control
{
	text-align: left;
	border-radius: unset;
	background-color: #304074;
	color: #fff!important;
}

input::-webkit-input-placeholder {
color: #fff!important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #fff!important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #fff!important; 
}
 
input:-ms-input-placeholder {  
color: #fff!important; 
}

.my-btn
{
	background-color: #0a1c58;
	border:1px solid #fff;
	width: 45%;
}

.ten .container-fluid
{
	padding-right: unset;
	padding-left: unset;
}

footer
{
	background-color: #101010;
}

.footer-text
{
	padding-top: 50px;
	padding-bottom:50px;

}

.footer-text p
{
	color: #868686;
	
} 

.footer-text h1
{
	color: #fff;
	
} 

.footer-text1
{
	padding-top: 82px;
	padding-bottom:50px;
	line-height: 23px;
}

.footer-text1 p
{

	color: #868686;
	
}

.circle-icon
{
	border-radius: 50%;
	width: 50px;
	height:50px;
	border:2px solid #fff;
	text-align: center;
	line-height: 50px;
	margin: auto;
	font-size: 40px;
	color: #606060;
}

.circle-icon a i
{
	color: #606060;
}

.circle-icon:before
{
	content: '-'
	width:500px;
	color: #fff;
}

.circle-icon a:hover
{
	text-decoration: none;
}

.footer
{
	padding-top: 40px;
	padding-bottom:30px;
}